* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: silver;
  max-width: 50%;
  margin: auto;
  margin-top: 10em;
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  font-size: larger;
  font-weight: 600;
}
